/* Genel Ayarlar */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Üst kısımdaki sabit header için boşluk ayarı */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Çocuk öğeleri üstte başlat */
    background-color: #f4f4f4;
}

/* Dashboard Konteyner Ayarları */
.dashboard {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Üst Kısım ve Hoş Geldiniz Mesajı */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h1 {
    margin: 0;
    color: #28a745;
}

/* Çıkış Yap Düğmesi */
button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Tablo Stilleri */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #28a745; /* Yeşil arka plan */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d4edda;
}

/* Düğmeler ve Linkler */
a, .edit, .delete {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
    margin-right: 5px;
}

a:hover, .edit:hover, .delete:hover {
    background-color: #218838;
}

.img-container img {
    width: 100px;
    height: auto;
}
